{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'scl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
Survey Instructions
{% endblock %}

{% block content %}
<div class="wrapper instructions">
<p>
    The final stage of this experiment is a survey. During the first two parts, you are asked to give feedback about this experiment, as well as some background
    information. In the last part, you will be asked to respond to general demographic questions.
    Note that this information will be stored completely anonymously and will not be linked to you personally or your account.
</p>
<br>
<p>
    Please answer the questions truthfully, as this survey is critically important for this research.
    Note that, during the survey, there will be some control questions to further ensure your attention.
    For every control question that you answer correctly you will earn <b>80 points</b> as a reward.
    You can see the result of your control questions and your earnings from this task during the summary at the end of the experiment.
</p>
</div>


<button class="otree-btn-next btn btn-primary next-button otree-next-button">Start Survey</button>



{% endblock %}
