{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'scl/css/custom.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}

{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div class="wrapper">
        <div class="card">
            <table class="table">

                <!-- ----------------------------------------------------------------------------------------------- -->
                <!-- --- Table Header --- -->
                <!-- ----------------------------------------------------------------------------------------------- -->
                <thead>
                    <tr class="header1">
                        <!-- Lottery Number (Counter) -->
                        <th></th>
                        <th></th>
                        <!-- A lotteries -->
                        <th >Reward A</th>
                        <th></th>

                        <!-- B lotteries -->
                        <th>Reward B</th>
                        <th></th>

                        <!-- radio select form fields -->

                    </tr>
                    <tr class="header2">
                        <!-- Lottery Number (Counter) -->
                        <th>Lottery</th>
                        <th></th>
                        <th>50% Chance</th>
                        <th></th>
                        <!-- A lotteries -->
                        <th> 50% Chance</th>

                        <!-- radio select form fields -->
                        <th>Your Choice:</th>
                    </tr>
                </thead>

                <!-- ----------------------------------------------------------------------------------------------- -->
                <!-- --- Table Body --- -->
                <!-- ----------------------------------------------------------------------------------------------- -->
                <tbody>
                    {% for i,lo,hi in lotteries %}
                        <tr>
                            <!-- Lottery Number (Counter) -->
                            <td>{{ forloop.counter }}</td>
                            <td></td>

                            <!-- A lotteries -->
                            <td>{{ lo }}</td>
                            <td></td>

                            <!-- B lotteries -->
                            <td>{{ hi }}</td>

                            <!-- radio select form fields -->
                            <td><input type="radio" name="lottery_choice" value="{{ i }}" required></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Submit Choice</button>


{% endblock %}