{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'scl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Betting Stage
{% endblock %}

{% block content %}
<div class="wrapper instructions">
    <p>
        Your account balance: <b>{{ balance }} points</b>
        <br><br>
        In this round you receive <b>{{ max_bet }} points</b>.
    </p>
    <p>
        All points that you do not bet will automatically be added to your account balance. If you win the game, your bet will be
        multiplied by <b>12</b> and the resulting points will be added to your account balance.<br><br>
    </p>
</div>

<div class="wrapper instructions">
    <p>
        How much do you want to bet?
    </p>
    {% formfield player.bet label='' %}
</div>


<div class="wrapper" style="text-align:center;">
<button type="button" class="btn btn-primary" id="next_btn" data-toggle="modal" data-target="#exampleModal">
  Submit Bet
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Betting summary </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="output"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#next_btn').click(function(){
    var current_bet = $('#id_bet').val();
    var potential_win = Math.round((current_bet * 12)*10)/10;
    var new_balance_win = Math.round(({{ balance|json }} + {{ max_bet|json }} - current_bet + potential_win)*10)/10;
    var new_balance_loss = Math.round(({{ balance|json }} + {{ max_bet|json }} - current_bet)*10)/10;
    var old_balance = {{ balance|json }}
    var savings = {{ max_bet|json }} - current_bet;
    document.getElementById('output').innerHTML = "Your current balance: " + old_balance + "<br />" + "Your bet: " + current_bet + "<br />" + "You could win: " + potential_win + "<br />" + "Points not spent on betting: " + savings + "<br />" + "<br />" + "Your new balance (in case you win): " + new_balance_win + "<br />" + "Your new balance (in case you lose): " + new_balance_loss;
  });
</script>

<style>
    .myclass::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 28px !important;
        width: 10px !important;
        border-radius: 3px !important;
        background: #000000 !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -10px !important;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 0px 20px 0px 0px;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #b52222;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 0px;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
    }

</style>
<script>

    $(document).ready(function () {
        $('input[type=range]').on('input change', function () {
            $('input[type=range]').addClass('myclass');
        });

    });
</script>
{% endblock %}




