{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Gambling
{% endblock %}

{% block content %}

    <p>Your balance is {{ player.balance }} and your max_bet is {{ max_bet }}.</p>


<style>
.carousel-inner.vertical {
  height: 100%;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .2s ease-in-out top;
  -o-transition: .2s ease-in-out top;
  transition: .2s ease-in-out top;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 100%;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -100%
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -100%;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 100%;
}
</style>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<div style="width:600px">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="false" data-keyboard="false" data-interval="10">
    <div class="carousel-inner vertical" role="listbox">
      <div class="item active">
        <img src="https://i.imgur.com/MpANPXG.png" alt="1">
      </div>
      <div class="item">
        <img src="https://i.imgur.com/J6J8Dgj.png" alt="2">
      </div>
      <div class="item">
        <img src="https://i.imgur.com/7dg9B3M.png" alt="3">
      </div>
      <div class="item">
        <img src="https://i.imgur.com/bANsdm9.png" alt="4">
      </div>
      <div class="item">
        <img src="https://i.imgur.com/OBDCNsY.png" alt="5">
      </div>
      <div class="item">
        <img src="https://i.imgur.com/hUTNX3m.png" alt="6">
      </div>
    </div>
  </div>
</div>


<br>
<br>

<button type="button" name="stopped" id="stop_button" value="True" class="btn btn-primary btn-large">
    STOP
</button>

<input type="hidden" id="input_time_clicked" name="time_clicked">
<input type="hidden" id="input_current_picture" name="last_picture_viewed">

<br>
<br>

<button type="button" onclick="submit()" class="btn btn-primary btn-large">Results</button>


<script>
        var startTime, endTime, current_picture;

        $(document).ready(function () {
            startTime = new Date();
        });

        $('#stop_button').click(function() {
            var delay = Math.floor(Math.random() * 4000);
            setTimeout(function(){
            $("#myCarousel").carousel('pause');
            $(this).prop("disabled",true);
            endTime = new Date();
            var timeDiff = endTime - startTime; //in ms

            // get seconds
            var mseconds = Math.round(timeDiff);
            $('#input_time_clicked').val(mseconds);

            // get last picture the participant saw
            var current_picture = $('#myCarousel div.active').index();
            console.log(current_picture + ". Picture");
            $('#input_current_picture').val(current_picture);
            }, delay);
        });

</script>



{% endblock %}

