.sprite {
    background-image: url(../sprites.png);
    background-repeat: no-repeat;
}

.sprite_-1_60_-9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: 0 0;
}

.sprite_-1_60_-9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -300px 0;
}

.sprite_-1_90_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -600px 0;
}

.sprite_-1_90_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -900px 0;
}

.sprite_-3_70_-7_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1200px 0;
}

.sprite_-3_70_-7_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: 0 -187px;
}

.sprite_-5_40_-3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -300px -187px;
}

.sprite_-5_40_-3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -600px -187px;
}

.sprite_-5_70_-3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -900px -187px;
}

.sprite_-5_70_-3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1200px -187px;
}

.sprite_-5_80_-6_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: 0 -374px;
}

.sprite_-5_80_-6_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -300px -374px;
}

.sprite_-6_50_-7_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -600px -374px;
}

.sprite_-6_50_-7_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -900px -374px;
}

.sprite_-6_60_-4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1200px -374px;
}

.sprite_-6_60_-4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: 0 -561px;
}

.sprite_-7_30_-5_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -300px -561px;
}

.sprite_-7_30_-5_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -600px -561px;
}

.sprite_-7_70_-1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -900px -561px;
}

.sprite_-7_70_-1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1200px -561px;
}

.sprite_-8_30_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: 0 -748px;
}

.sprite_-8_30_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -300px -748px;
}

.sprite_-8_40_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -600px -748px;
}

.sprite_-8_40_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -900px -748px;
}

.sprite_-8_60_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1200px -748px;
}

.sprite_-8_60_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: 0 -935px;
}

.sprite_1_40_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -300px -935px;
}

.sprite_1_40_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -600px -935px;
}

.sprite_1_90_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -900px -935px;
}

.sprite_1_90_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1200px -935px;
}

.sprite_3_60_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: 0 -1122px;
}

.sprite_3_60_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -300px -1122px;
}

.sprite_4_40_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -600px -1122px;
}

.sprite_4_40_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -900px -1122px;
}

.sprite_4_80_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1200px -1122px;
}

.sprite_4_80_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: 0 -1309px;
}

.sprite_5_70_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -300px -1309px;
}

.sprite_5_70_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -600px -1309px;
}

.sprite_5_70_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -900px -1309px;
}

.sprite_5_70_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1200px -1309px;
}

.sprite_6_60_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: 0 -1496px;
}

.sprite_6_60_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -300px -1496px;
}

.sprite_7_20_5_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -600px -1496px;
}

.sprite_7_20_5_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -900px -1496px;
}

.sprite_7_30_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1200px -1496px;
}

.sprite_7_30_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1500px 0;
}

.sprite_7_70_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1500px -187px;
}

.sprite_7_70_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1500px -374px;
}

.sprite_7_70_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1500px -561px;
}

.sprite_7_70_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1500px -748px;
}

.sprite_8_30_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1500px -935px;
}

.sprite_8_30_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1500px -1122px;
}

.sprite_8_40_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1500px -1309px;
}

.sprite_8_40_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1500px -1496px;
}
