{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'scl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
Betting Game - Instructions
{% endblock %}

{% block content %}
<div class="wrapper instructions">
    <p>
        The next stage of this experiment is a betting game. Before the start of the game, you will go through a quiz asking questions about these instructions. You will earn yourself
        <b>500 points</b> for the quiz - however, for every question that you answer incorrectly, <b>100 points</b> will be deducted. You can see the
        result of your quiz during the summary at the end of the experiment.
    </p>
    <p>
        In the game, you will start with <b>600 points</b>.
        You can then decide whether you want to bet some of your points.
        There is <b>no minimum bet</b> (which means you can bet 0 points and play without stakes).
        The <b>maximum bet</b> that you can place is <b>30 points</b>.
    </p>
    <p>
        The game itself will be similar to a one-armed bandit. You will see 2 windows with 6 different pictures flashing through.
        You will be able to stop the left of the images by pressing a button labeled <b>"STOP"</b>.
        However, this button does not work very precisely and the stop could be delayed slightly.
        Note that the second image will stop <b>randomly</b>.
    </p>
    <p>
        You win the game if <b>the left picture shows a shamrock</b>. If you lose the game, you will
        lose your bet. If you win the game, you will be rewarded with points worth your bet multiplied by a certain value, your
        <b>"multiplicator"</b>. This multiplicator is <b>4.5</b> for your first game, and will <b>decrease by 0.1 after every game</b>.
        After each game, you will be asked whether you want to play another round or leave the game and continue to the next stage.
        If you decide to leave the game your points balance will be saved and converted into Euros at the end of the experiment.
    </p>
    <br>
</div>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Start Quiz</button>

{% endblock %}
